﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/BMI/Index" method="post">
    height:<input type="text" name="hh" value="" /> cm<br />
    weight:<input type="text" name="ww" value="" /> kg<br />
    <input type="submit" name="name" value="send" />
</form>

<br />
計算結果： @ViewBag.BMI <br />
等級： @ViewBag.level